
{% extends 'webapp/base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block metadesc %}Why does Baby Asst exist, what is it here to solve, and who made it?{% endblock %}

{% block headertitle %}About Baby<span class="font-weight-normal text-muted">Asst</span>{% endblock %}
{% block headersubtitle %}What, Why, and Who?{% endblock %}

{% block content %}

<h4 class="mt-5 mb-3">What is Baby Asst?</h4>
<div class="row">
  <div class="col-lg-3">
    <img src="{% static 'assets/img/login-logo.png' %}" alt="" style="width: 78%;">
  </div>
  <div class="col">
    <div class="mt-4">
      <p>Baby Asst is a software application designed to assist parents and caregivers with keeping track of various baby activities like baths, diaper changes, feedings, sleeping, tummy time and others.</p>
      <p>The goal of Baby Asst is to provide a convenient and intuitive way to log baby related events alleviating the need for paper notebooks, sticky notes, marker boards or over taxing new parents and caregivers already tired and overwhelmed minds.</p>      
    </div>
  </div>

</div>

<h4 class="mt-5 mb-3">Why Baby Asst Exists?</h4>
<p>Having a newborn baby is a wonderfully joyous experience equally matched with an overwhelming assault on one’s mental and physical wellbeing.</p>
<p>The first couple of days are a wave of euphoric jubilation unlike no other feeling. They start a new pattern of attentive awareness of baby's needs: a couple dozen diaper changes, hourly feedings,
  cycling between sleep, whimpers to occasional crying. Most of these actions are usually all being tracked on a set of worksheets the hospital starts you on during your stay and sends you home with.</p>
<p>After a few days of being back home with baby comes the first doctor visit. Baby is perfectly fine but, for mom and dad their bodies have started to rebel after days of abuse from lack of sleep paired with overjoyed emotional mania from the entrance of this wonder gift 
  from God. At this point the worksheets for tracking baby's activities are likely in one or more of the following states: crinkled, milk stained, baring a tear drop or two, and in less fortunate situations forgotten at the hospital or accidentally thrown out with the pile 
  of junk mail that accumulated over the prior week.</p>
<p>
  It's at this moment that the doctor askes what are seemingly simple questions such as: About how often is baby at breast or on average how much formula is baby consuming per feed and per day? How many wet and solid diapers does baby have each day? How long does baby sleep for? How long is baby awake at a time? Mom and dad wearily look at each other and throw out a guess at some along with more sure responses to others.
</p>
<p>This is why Baby Asst was created. Modern phones turn out to be remarkably resistant to spilt milk and tears and, are less likely to be misplaced or thrown out (even then there is find my iPhone or find my device for Android). Most importantly, Baby Asst makes it incredibly easy to lookup detailed and accurate responses to many of doctors questions about baby’s activities without taxing mom’s or dad’s tried brains with counting, adding, and averaging the events written on the worksheets from the hospital if they even still exist and you remembered to bring them to the doctor's office.</p>

<h4 class="mt-5 mb-3">Who Created Baby Asst?</h4>
<div class="row">
  <div class="col-lg-4">
    <img src="{% static 'assets/img/mcq-fam.jpg' %}" alt="" class="ml-1 img-thumbnail" style="width: 98%;">
  </div>
  <div class="col">
    <div class="mt-2">
      <p>My name is Adam McQuistan, I am the creator of Baby Asst as it exists today. However, it actually started as a open source software application originally named <a href="https://github.com/cdubz/babybuddy">BabyBuddy</a> which I stumbled upon in the early Fall of 2019 around the time of my wife's third trimester with our second son.</p>
      <p>I originally had an idea for this type of application soon after our first son arrived and the reality of how difficult it was to try to keep track of all the activities that go into having a newborn became wearily apparent. After a couple months of modification and customization brought about my own preferences for how such an application should look feel and function along with diligently use of it when my second son was born my wife and I both felt Baby Asst was useful enough to share with the rest of the world.</p>
    </div>
  </div>
</div>

{% endblock %}
