
{% extends 'webapp/base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block metadesc %}Why does Baby Asst exist, what is it here to solve, and who made it?{% endblock %}

{% block headertitle %}About Baby<span class="font-weight-normal text-muted">Asst</span>{% endblock %}
{% block headersubtitle %}What, Why, and Who?{% endblock %}

{% block content %}

<h4 class="mt-5 mb-3">What is Baby Asst?</h4>
<div class="row">
  <div class="col-lg-3">
    <img src="{% static 'assets/img/login-logo.png' %}" alt="" style="width: 78%;">
  </div>
  <div class="col">
    <div class="mt-4">
      <p>Baby Asst is a software application designed to assist parents and caregivers with keeping track of various baby activities like baths, diaper changes, feedings, sleeping, tummy time and others.</p>
      <p>The goal of Baby Asst is to provide a convienent and intuitive way to log baby related events alleviating the need for paper notebooks, sticky notes, marker boards or over taxing new parents and caregivers already tired and overwhelmed minds.</p>      
    </div>
  </div>

</div>

<h4 class="mt-5 mb-3">Why Baby Asst Exists?</h4>
<p>Having a newborn baby is a wonderfully joyous experience equally matched with an overwhelming assult on ones mental and physical well being.</p>
<p>The first couple of days are a wave of euphoric jubilation unlike no other feeling. Those first couple of days start a new pattern of attentive awareness of baby's needs: 
  a couple dozen diaper changes, feedings about every hour, cycling sleep with sweat wimpers and occasional crying usually all being tracked on a set of worksheets the hospital
  starts you on during your stay and sends you home with.</p>
<p>After a few days of being back home with new baby's comes the first doctor visit. Baby is perfectly fine but, for mom and dad their bodies have started to rebel 
  after day's of abuse from lack of sleep and the jubulant emotional mania from the entrace of this beautiful gift from God.  At this point the worksheets for tracking baby's activities 
  are crinkled, milk stained, likely to have tear drop or two on them, and in less fortunate situations some may have been forgotten at the hospital or accidentially thrown out with the 
  pile of junk mail that accumulated over the prior week.</p>
<p>It's at this moment that the doctor askes what are seamingly simple questions like: About how often is baby at the breast or on average how much formula is baby consuming per feed and per day? How many wet and solid diapers does baby have each day?
  How long does baby sleep for? How long is baby awake at a time? Mom and dad wearily look at at each other and throw out a guess at some and a more reasonably sure response to others. 
</p>
<p>This is why Baby Asst was created. The app is resistent to spilt milk and tears, you don't have to keep a pen or pencil handy, and if a phone gets thrown out accidentially then the spouses phone or family laptop can still be used to log events and lookup detailed and 
  accurate responses to doctors seamingly simple questions without taxing your tried brain to count, add, or average the events written on the worksheets from the hospital if they even still exist and you remembered to bring them to the doctor's office.</p>

<h4 class="mt-5 mb-3">Who Created Baby Asst?</h4>
<div class="row">
  <div class="col-lg-4">
    <img src="{% static 'assets/img/mcq-fam.jpg' %}" alt="" class="ml-1 img-thumbnail" style="width: 98%;">
  </div>
  <div class="col">
    <div class="mt-2">
      <p>My name is Adam McQuistan, I am the creator of Baby Asst as it exists today. However, it actually started as a open source software application originally named <a href="https://github.com/cdubz/babybuddy">BabyBuddy</a> which I stumbled upon in the early Fall of 2019 around the time of my wife's third trimester with our seconds son.</p>
      <p>I originally had an idea for this type of application soon after our first son arrived and the reality of how difficult it was to try to keep track of all the activities that go into having a newborn became wearily apparant.</p>
      <p>Now admittedly there are other apps that exist to accomplish similar goals to what Baby Asst does and the original open source version comes along way to doing this also but, given that my wife is a nurse and I am a software engineer I felt that together we could come up with a superior experience to the other apps that are on the market.</p>
    </div>
  </div>
</div>

{% endblock %}
